data/charmmgui_pdb/*
*.fasta
*.fai
*.needle
02_angstrom_benchmark/*/#*
analysis/02_angstrom_benchmark/MD/*/*.xtc
analysis/02_angstrom_benchmark/MD/*/*.tpr
analysis/02_angstrom_benchmark/MD/*/*.log
analysis/02_angstrom_benchmark/MD/*/*.edr
analysis/02_angstrom_benchmark/MD/*/*.cpt
analysis/02_angstrom_benchmark/MD/*/step6.0*.gro
analysis/02_angstrom_benchmark/MD/*/step6.0*.trr
analysis/02_angstrom_benchmark/MD/*/step6.1*.gro
analysis/02_angstrom_benchmark/MD/*/step6.1*.trr
analysis/02_angstrom_benchmark/MD/*/step6.2*.gro
analysis/02_angstrom_benchmark/MD/*/step6.2*.trr
analysis/02_angstrom_benchmark/MD/*/step6.3*.gro
analysis/02_angstrom_benchmark/MD/*/step6.3*.trr
analysis/02_angstrom_benchmark/MD/*/step6.4*.gro
analysis/02_angstrom_benchmark/MD/*/step6.4*.trr
analysis/02_angstrom_benchmark/MD/*/step6.5*.gro
analysis/02_angstrom_benchmark/MD/*/step6.5*.trr
analysis/02_angstrom_benchmark/MD/*/step5_charmm2gmx.pdb

# Analysis files:
analysis/02_angstrom_benchmark/MD/*/rep1/
analysis/02_angstrom_benchmark/MD/*/rep2/
analysis/02_angstrom_benchmark/MD/*/rep3/
analysis/02_angstrom_benchmark/MD/*/rep4/
analysis/02_angstrom_benchmark/MD/*/rep5/
analysis/02_angstrom_benchmark/MD/*/slurm*.out
analysis/02_angstrom_benchmark/MD/*/slurm*.out
analysis/02_angstrom_benchmark/MD/*/slurm*.out
analysis/02_angstrom_benchmark/MD/*/slurm*.out
analysis/02_angstrom_benchmark/MD/*/slurm*.out

